//Overridden Variables

$monospace-font-family: 'Roboto Mono', monospace;

// .project-image {
//   display: flex;
//   align-items: center;
//   justify-content: bottom;
//   padding-bottom: 30px;
//   width: (12/12 * 100%);
//   box-sizing: border-box;
//   & .caption-bottom {
//     margin-top: auto;
//   }
// }

// .project-image-left, .project-image-full, .project-image-right, .project-image-split, .project-footer {
//   float: left;
// }

// .project-image-left {
//   img {
//     width: (6/12 * 100%);
//     height: 100%;
//   }
//   & .caption {
//       padding-left: $caption-padding;
//       padding-right: $caption-padding;
//       padding-top: 0;
//       width: (5.65/12 * 100%);
//       float: right;
//       h6 {
//         padding-top: 0px;
//         padding-bottom: 10px;
//       }
//   }
// }


//Utilities

.flip-text {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.clear-link {
  a {
  border-bottom: 0;
  }
}

// General Styling

body {
  background: #000000;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px white solid;
  padding-bottom: 2.5px;
}

a:hover {
    color: #ff0022;
}

li {
  padding-bottom: 10px;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
}

.fuck-yeah-usa {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  img {
    height: 20px;
  }
}

// Homepage Styling

.mono {
  font-weight: 100;
  font-family: $monospace-font-family;
}

.mono-bold {
  font-family: $monospace-font-family;
  font-weight: 100 !important;
  letter-spacing: .15em;
  padding-top: 4px;
}

.index-project {
  float: left;
  box-sizing: border-box;
  width: 100%;
}

//---- Homepage Project Description----//
.index-project-description {
  padding-top: 1.3em;
  & .details {
    width: 35%;
    float: left;
    h4 {
      text-align: left;

    }
    h6 {
      float: left;
      font-family: $monospace-font-family;
      letter-spacing: .15em;
      text-transform: uppercase;
      padding-right: 10%;
      padding-bottom: 60px;
      padding-top: 0.4em;

    }
  }
  & .view-project {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    h6 {
      float: left;
      font-family: $monospace-font-family;
      letter-spacing: .15em;
      text-transform: uppercase;
      padding-right: 15px;
    }
    & .long-arrow-right {
      float: right;
    }
  }

}

@media screen and (max-width: $breakpoint-sm) {
.index-project-description {
  padding-left: 5%;
  padding-right: 5%;
  & .details {
    width: 100%;
    h6 {
      padding-bottom: 3em;
    }
    h4 {
      padding-left: 50%;
    }
  }
  & .view-project {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 3em;
  }
}

}

/****  Cycle Project Index Image ****/

.project-container {
    width: 100%;
}
.project-container .project-outer {
    width: 100%;
    padding-top: 45%; /* defines aspect ratio */
    position: relative;
}
.project-container .project-outer .project-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.project-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    a.project-slide-link {
    position:absolute;
    max-width: 100%;
    height: 800px;
    display: block;
    // z-index: 10;
    }
    a.project-slide-link:hover{
    background-position: center -150px;
  }
    & .slide {
      width: 100vw;
      height: 800px;
      overflow: hidden;
      position: relative;
      background-size: cover;
    }
}
.slides{
    // z-index:0;
    visibility:hidden;
    margin-top: -25px;
}
.slides.active{
    visibility:visible;
}

// Nav Styling

.top-nav, .bottom-nav {
  float: left;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 100;
  li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
  }
  h4 {
    font-family: $monospace-font-family;
  letter-spacing: .15em;
  text-transform: uppercase;
  }
}
.top-nav {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
  }

.bottom-nav {
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    bottom: 0;
  }

// Project Page

$caption-padding: .25%;

.project-intro {
  padding-top: 15%;
  padding-bottom: 10%;
  width: 100%;
  & .caption {
    h6 {
      padding-bottom: 10px;
    }
    padding-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.project-footer-content {
  li {
    list-style-type: none;
  }
  ul {
    padding-left: 0;
  }
  width: (4/12 * 100%);
  float: left;
  h6 {
  font-family: $monospace-font-family;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding-bottom: 10px;
  }
}

.project-footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.project-nav {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  li {
    list-style-type: none;
  }
  ul {
    padding-left: 0;
  }
  h4 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: $monospace-font-family;
  letter-spacing: .15em;
  text-transform: uppercase;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}


.project-image, .project-image-left, .project-image-full, .project-image-right, .project-image-split, .project-footer {
  padding-bottom: 30px;
  width: (12/12 * 100%);
  float: left;
  box-sizing: border-box;
}

.project-image-left {
  img {
    width: (6/12 * 100%);
    height: 100%;
  }
  & .caption {
      padding-left: $caption-padding;
      padding-right: $caption-padding;
      padding-top: 0;
      width: (5.65/12 * 100%);
      float: right;
      h6 {
        padding-top: 0px;
        padding-bottom: 10px;
      }
  }
}


//Flex Box

$project-padding: 1.5em;

.flex-image {
  display: flex;
  width: 100%;
  padding-bottom: $project-padding;
  & .bottom {
    align-items: center;
    margin-top: auto;
  }
  & .right {
      text-align: right;
  }
  & .flex-image-left {
    width: 50%;
    padding-right: $project-padding;
  }
  & .flex-image-right {
    width: 50%;
    padding-left: $project-padding;
  }
  & .flex-caption {
    width: 50%;
  }
}


.project-image-right {
  img {
    width: (6/12 * 100%);
    height: 100%;
    float: right;
  }
  & .caption {
      padding-right: $caption-padding;
      padding-top: 0;
      width: (5.65/12 * 100%);
      h6 {
        padding-top: 0px;
        padding-bottom: 10px;
      }
  }
}

.project-image-full {
  img {
    width: (12/12 * 100%);
    height: 100%;
  }
  & .caption {
      width: 50%;
      h6 {
        padding-top: 20px;
      }
      h4 {
        padding-top: 10px;
      }
  }
}

.caption-right {
  padding-left: 50%;

}

.caption-left {
  padding-right: 50%;

}

.caption-center {
  padding-left: 25%;
  padding-right: 25%;
}

// .caption-bottom {
//     display: flex;
//     align-items: bottom;
//     justify-content: center;
// }

.caption, .flex-caption {
  h6 {
    font-family: $monospace-font-family;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $breakpoint-sm) {


.project-footer-content {
  text-align: center;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottom-nav, .top-nav {
  padding: 5%;
}

.caption {
  padding-left: 5%;
  padding-bottom: 5%
}

.project-intro {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 20%;
  & .caption {
    h6 {
    padding-bottom: 10px;
    }
    padding-bottom: 20px;
  }
}

.project-image-left, .project-image-right {
  img {
    width: 100%;
  }
  & .caption {
      float: right;
      width: 70%;
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 0;
      h6 {
        padding-top: 20px;
        padding-bottom: 10px;
      }
  }
}

.project-image-full {
  & .caption {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      h6 {
        padding-top: 20px;
      }
      h4 {
        padding-top: 10px;
        width: 100%;
      }
  }
}


.caption-right {
  padding-left: 0;
  padding-right: 20px;
}

.caption-left {
  padding-right: 0;
  padding-right: 20px;

}

.caption-center {
  padding-right: 20px;
  padding-right: 20px;

}

}

@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .role-headline, .role-content, .project-headline, .project-content {
      padding-top: 20px !important;
    }
  .flag-button {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Phone Breakpoint
@media screen and (max-width: $breakpoint-sm) {
.content {
  padding-left: 0;
  padding-right: 0;
}
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (min-width: $breakpoint-lg) {

  .flag-button {
    float: right;
  }

}

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 *
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices.
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing
 * the height of element `.foo` —which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */

$intro-padding: .25;

.intro {
  padding-top: 100vh*$intro-padding;
  padding-bottom: 100vh*$intro-padding;
}

/**
 * iPad with portrait orientation.
*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .intro {
    padding-top: 1024px*$intro-padding;
    padding-bottom: 1024px*$intro-padding;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .intro {
    padding-top: 768px*$intro-padding;
    padding-bottom: 768px*$intro-padding;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .intro {
    padding-top: 500px*$intro-padding;
    padding-bottom: 500px*$intro-padding;
  }
}
