---
title: Chris Muccioli
layout: default
description: The work of Chris Muccioli
---



      <div class="clearfix content">
          <div class="row intro">
            <div class="col sm-col-12 lg-col-10 ">
              <div class="center-content">
                <h1 class="pb4"><span class="intro-button">Chris Muccioli</span> is a creative director & multi-disciplinary designer working in Brooklyn, NY.</h1>
                <h2><span class="bold">Currently accepting new clients. </span>He is a co-founded and the record club <a href="#">Singles Club</a>. Previously he’s worked with the fine folks at <a href="#">Jukely</a>, <a href="#">Kickstarter</a>, <a href="#">160over90</a>, & <a href="#">Post Typography</a>.</h2>
              </div>
            </div>
          </div>
          <!--Project Start-->
              <div class="index-project">
                <img src="images/project-image.png" class="fill">
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Singles Club</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
                  </div>
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('http://placekitten.com/1200/800') no-repeat center center; background-size: 100%; background-size: cover;">
                          <a href="#">
                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/801') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/802') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/803') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/804') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/805') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('http://placekitten.com/1200/806') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Singles Club</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
                  </div>
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                <img src="images/project-image.png" class="fill">
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Singles Club</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
                  </div>
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                </div>
              </div>
          <!--Project End-->
      </div>
