<div class="col col-12 top-nav ">
  <div class="col col-6">
    <a href="#"><h4 class="mono caps">Chris Muccioli</h4></a>
  </div>
  <div class="col col-6 right-align mono caps">
    <a href="#"><h4 class="mono caps">About</h4></a>
  </div>
</div>
<div class="col col-12 bottom-nav">
  <div class="col col-6">
    <a href="#"><h4 class="mono flip-text caps" style="text-align: right;">Email</h4></a>
  </div>
  <div class="col col-6">
    <a href="#"><h4 class="mono caps flip-text">Twitter</h4></a>
  </div>
</div>
