---
title: "Singles Club"
---

{% include head.html %}

<body>

  {% include _nav-bar.html %}

  <div class="clearfix content">

    <div class="project-intro">
      <div class="col col-4 caption">
        <h6> Project </h6>
        <h2>Singles Club</h2>
        <h6> Role </h6>
        <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
      </div>
      <div class="col col-8 caption">
        <h6> Description </h6>
        <h2>Singles Club was started in 2014 as a project between myself and writer/educator Jeffrey Silverstein. Looking to combine our strengths and release our friends music but not content with simply spinning up a record label we came up with the quarterly subscription club model.</h2>
      </div>
    </div>

    <div class="project-image-full">
        <img src="../images/project-image.png" class="fill">
        <div class="caption">
          <h6> year 2 records </h6>
        </div>
    </div>

    <div class="project-image-left">
        <img src="../images/project-image-2.png">
        <div class="caption">
          <h6> year 2 records </h6>
          <h4>Every quarter subscribers would receive a vinyl 45’ featuring an new original song by the featured artists, plus a audio interview on side b. Online at www.singlesclub.fm anyone can read the digital issue and listen to the single.</h4>
        </div>
    </div>

    <div class="project-image-full">
        <img src="../images/project-image.png" class="fill">
        <div class="caption caption-right">
          <h6> year 2 records </h6>
          <h4>Every quarter subscribers would receive a vinyl 45’ featuring an new original song by the featured artists, plus a audio interview on side b. Online at www.singlesclub.fm anyone can read the digital issue and listen to the single.</h4>
        </div>
    </div>

    <div class="project-image-right">
        <img src="../images/project-image-2.png">
        <div class="caption">
          <h6> year 2 records </h6>
          <h4>Every quarter subscribers would receive a vinyl 45’ featuring an new original song by the featured artists, plus a audio interview on side b. Online at www.singlesclub.fm anyone can read the digital issue and listen to the single.</h4>
        </div>
    </div>


    <div class="col col-12">
      <div class="col col-4">
        <h6> Role </h6>
        <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
      </div>
      <div class="col col-4">
        <h6> Role </h6>
        <ul>
          <li>Jeffrey Silverstein</li>
          <li>Tomasz Werner</li>
        </ul>
      </div>
      <div class="col col-4">
        <h6> Role </h6>
        <h4>Creative Direction, Photography, Product Design, Print Design, Branding</h4>
      </div>
    </div>


  </div>

  {% include _project-nav.html %}

</body>

</html>
